CompileFlags:
  Add:
    - "-Iaosp-headers/include-base"
    - "-Iaosp-headers/include-keymaster"
    - "-Icgd"
    - "-Ilibsuscertsign/include"
    - "-Ilibgenericutil/include"
    - "-Ilibsuscertmod/include"
    - "-Wpedantic"
    - "-Wall"
    - "-Wno-c11-extensions"
---
If:
  PathMatch: \.(c|h)$
CompileFlags:
  Add: [
    -xc,
    -std=c11
  ]
---
If:
  PathMatch: \.(cc|cpp|cxx|hpp|hh|hxx)$
CompileFlags:
  Add: [
    -fno-exceptions,
    -fno-rtti,
    -xc++,
    -std=c++20,
  ]
