CompileFlags:
  Add:
    - "-I/home/user/.local/src/android-14/system/kmtest/libsuscertmod/external/prefix/include"
    - "-I/home/user/.local/src/android-14/system/kmtest/include-base"
    - "-I/home/user/.local/src/android-14/system/kmtest/include-keymaster"
    - "-I/home/user/.local/src/android-14/system/kmtest/"
    - "-I/home/user/.local/src/android-14/system/kmtest/cgd"
    - "-xc"
    - "-std=c11"
    - "-Wpedantic"
    - "-Wall"
