CompileFlags:
  Add:
    - "-I../aosp-headers/include-base"
    - "-I../aosp-headers/include-keymaster"
    - "-I../cgd"
    - "-I../libsuskmhal/include"
    - "-Wpedantic"
    - "-Wall"
    - "-Wno-c11-extensions"
    - "-xc"
    - "-std=c11"
