CompileFlags:
  Add:
    - "-I../../cgd"
    - "-I../../libsuscertsign/include"
    - "-I../../libgenericutil/include"
    - "-Wpedantic"
    - "-Wall"
    - "-Wno-c11-extensions"
    - "-xc"
    - "-std=c11"
