CompileFlags:
  Add:
    - "-I../aosp-headers/include-base"
    - "-I../aosp-headers/include-keymaster"
    - "-I../cgd"
    - "-I../libsuscertsign/include"
    - "-I../libgenericutil/include"
    - "-I../libsuscertmod/include"
